extend base
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create Campaign
      form.form--signup
        .form__group
          label.form__label(for='name')  Name of Campaign
          input#name.form__input(type='text', required)
        .form__group
          label.form__label(for='description') Description
          textarea#description.form__input(required)
        .form__group.ma-bt-md
          label.form__label(for='address') Location
          input#address.form__input(type='text', required)
        .form__group.ma-bt-md
          label.form__label(for='date') Date
          input#date.form__input(type='date', required)  
        .form__group
          button.btn.btn--green.btn-add ADD 