extends base 

block content
  main.main
    .error  
      .error__title
        hr
        h2.heading-secondary.heading-secondary--error Ops!, something went wrong! 
        h2.error__emoji 
      .error__msg= message 